header#main {
	color: #FFEBEE;
	background: #D32F2F;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	z-index: 10000;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
                  0 1px 10px 0 rgba(0, 0, 0, 0.12),
                  0 2px 4px -1px rgba(0, 0, 0, 0.4);
}

header#main #title {
	position: fixed;
	top: 12px;
	left: 10px;
	height: 15px;
	vertical-align: middle;
	font-size: 16pt;
	cursor: default;
}

header#main nav#left {
	position: fixed;
	top: 0;
	left: 95px;
}

header#main nav#right {
	position: fixed;
	top: 0;
	right: 5px;
}

header#main nav a, header#main nav a:visited {
	display: inline-block;
	height: 50px;
	line-height: 50px;
	color: #FFF;
	text-decoration: none;
	padding: 0px 10px;
	transition: all .25s ease;
}

header#main nav a:hover {
	background: #B71C1C;
}

#container {
	position:absolute;
	top: 70px;
	left: 0;
	width: 75%;
	padding: 0 12.5%;
}

#container #content {
	width: 100%;
}

footer#cfooter {
	text-align: center;
	font-size: 10pt;
}

.card {
	background: #455A64;
	width: 33.3%;
	border: 1px solid #37474F;
	border-radius: 3px;
	padding: 10px 10px;
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25);
	text-align: left;
	margin: 0 33.3%;
}

#serversbox {
	width: 100%;
	padding: 2px;
	border: 1px solid #546E7A;
	background: #546E7A;
	border-radius: 3px;
}

#serverboxhead {
	position: relative;
	width: 100%;
}

#serverboxhead input[type='button'] {
	height: 22px;
	padding: 3px 15px;
	margin-right: 0;
	margin-left: 2px;
}

#serverboxhead #right {
	position: absolute;
	top: 0;
	right: 0;
}

#upload-button {
	width: 100%;
	height: 150px;
	background: #E3F2FD;
	color: #2196F3;
	border: 1px solid #2196F3;
	border-radius: 3px;
	text-align: center;
	vertical-align: middle;
	display: table-cell;
	cursor: pointer;
	transition: color,background .25s ease;
}

#upload-button:not([disabled]):hover {
	background: #2196F3;
	color: #E3F2FD;
}

.submit-ok-box {
	background: #E8F5E9;
	color: #1B5E20;
	padding: 5px;
	border: 1px solid #1B5E20;
	border-radius: 3px;
	margin-bottom: 5px;
}

.submit-err-box {
	background: #FFEBEE;
	color: #B71C1C;
	padding: 5px;
	border: 1px solid #B71C1C;
	border-radius: 3px;
	margin-bottom: 5px;
}

table {
	width: 100%;
    border-collapse: collapse;
}

table, th, td {
	border: 1px solid #263238;
	background: #455A64;
}

th, td {
	padding: 2px 5px;
}

hr {
	border-style: solid;
	border-color: #37474F;
}

table a:link, table a:visited {
	color: #FFCDD2;
}

.ui-tooltip {
	background: #FFEBEE;
	color: #F44336;
	border: 1px solid #F44336;
	border-radius: 3px;
	padding: 5px 10px;
	position: absolute;
	z-index: 100000;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
                  0 1px 10px 0 rgba(0, 0, 0, 0.12),
                  0 2px 4px -1px rgba(0, 0, 0, 0.4);
}
.wadbox {
	background: rgba(0, 0, 0, 0.75);
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
				  0 1px 10px 0 rgba(0, 0, 0, 0.12),
				  0 2px 4px -1px rgba(0, 0, 0, 0.4);
	border: 1px solid #90A4AE;
	border-top: none;
	z-index: 9999;
}

.wadbox a:link, .wadbox a:visited {
	display: block;
	padding: 3px 7px;
	color: #F44336;
	transition: all .25s ease;
}

.wadbox a:hover, .wadbox a:focus, .wadbox a.selected {
	background: #F44336;
	color: #000000;
}

.ul {
	text-decoration: underline;
}

#shittyeucookienoticebar {
	background: rgba(211, 47, 47, 0.75);
	color: #FFF;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 5px;
	font-size: 16pt;
	display: none;
}
